# Question 1

In [1]:
import numpy as np
import pandas as pd
from collections import OrderedDict

## Input

In [2]:
m = int(input())
s=[]
for _ in range(m):
  s.append(input())

In [3]:
match, player = [], []
for i in range(m):
  match.append(s[i].split(":")[0])
  player.append(s[i].split(":")[1])

In [4]:
match, player

(['match1', 'match2', 'm3'], ['p1-9,p2-28', 'p3-19,P1-49', 'p3-1,p4-6,p1-91'])

In [5]:
dict_n = {match:player for match, player in zip(match, player)}
dict_n

{'match1': 'p1-9,p2-28', 'match2': 'p3-19,P1-49', 'm3': 'p3-1,p4-6,p1-91'}

In [6]:
dict_o = OrderedDict(zip(match, player))
dict_o

OrderedDict([('match1', 'p1-9,p2-28'),
             ('match2', 'p3-19,P1-49'),
             ('m3', 'p3-1,p4-6,p1-91')])

In [7]:
h = []
for i in player:
  pp = i.split(",")
  for j in pp:
    ppp = j.split("-")
    h.append(ppp)

In [8]:
df = pd.DataFrame(h)
df[1] = df[1].astype(int)
df.groupby(df[0]).sum().reset_index()

    0    1
0  P1   49
1  p1  100
2  p2   28
3  p3   20
4  p4    6

In [9]:
final = []
for j in np.array(df):
  final.append(tuple(j))

In [10]:
final

[('p1', 9),
 ('p2', 28),
 ('p3', 19),
 ('P1', 49),
 ('p3', 1),
 ('p4', 6),
 ('p1', 91)]